*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

.part{
    float: left;
}

.part1{
    float: right;
    
}

.logo{
    width:45px;
    height:45px;
    margin-right: 520px;
    margin-top: 80px;
}
.txt1{
    margin-top: 40px;
   color: white;
   font-size: 80px;
  
}
.txt2{
    margin-top: 40px;
    color: white;
}
.butt1{
    margin-top: 30px;
    width: 350px;
    height: 50px;
    background-color: rgb(68, 164, 202);
    color: white;
    border-radius: 40px;
    font-size: 16px;
    border: none;
}
.butt2{
    margin-top: 30px;
    width: 350px;
    height: 50px; 
    background-color:black;
    border: 1px solid rgb(68, 164, 202);
    color: rgb(68, 164, 202);
    border-radius: 40px;
}
.footer{
    font-size: 12px;
    padding-left: 15px; 
    padding-top: 580px;  
    color: grey;
}

.txt3{
    padding-top: 10px;
    padding-left: 530px;
}

